/* Variables */

:root {
  --basic-darker-grey: #293449;
  --basic-dark-grey: #32425C;
  --basic-white: #FFFFFF;
  --basic-hover-white: rgba(255, 255, 255, 0.5);
  --basic-red: #EE3643;
  --basic-hover-red:#CA2C37;
  --basic-focus-red: #BA2732;
  --basic-black: #000000;
  --basic-shadow-black: rgba(0, 0, 0, 0.24);
  --basic-green: #63A63E;
  --hover-green: #5FBB2D;
  --active-green: #518534;
  --clicked-green: #63A63E;
  --basic-hover-grey: #C5C5C5;
  --basic-lighter-grey: #EAEAEA;
  --basic-button-grey: #E5E5E5;
  --basic-light-rose: #F7F3EC;
  --basic-focus-black: #161D29;
  --basic-light-blue: #F2F6F8;
  --basic-grey: #C1C6CE;
  --basic-grey-grey: #B7BFC8;
  --basic-price-grey: #A9A9A9;
  --basic-main-grey: #F1F5F7;
  --basic-active-grey: rgba(241,245,247,.5);
  --basic-yellow: #FFD180;
  --basic-active-yellow: rgba(255,209,128,.5);
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-purple: #DC91D8;
  --special-green:  #8ED78F;
  --special-orange: #FFC047;
  --special-white: rgba(255,255,255,.3);
  --special-hover-grey: rgba(197,197,197,.3);
  --special-active-grey: rgba(169,169,169,.3);
  --box-shadow-green: #367315;
  --special-black: rgba(0,0,0,.3);
}

html {
  height: 100%;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;;
}

a {
  text-decoration: none;
}

.logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--basic-shadow-black);
}

.logo:active {
  background-color: var(--basic-focus-red);
  box-shadow: inset 0px -5px 0px var(--basic-shadow-black);
}

.button {
  text-transform: uppercase;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.button:hover {
  background-color: var(--basic-hover-red);
}

.button:active {
  background-color: var(--basic-focus-red);
}

/* Content width */

.header-top-wrapper,
.header-bottom,
.site-nav,
.materials,
.goods,
.producer, 
.services-page,
.company,
.footer-contacts-wrapper,
.footer-second-wrapper {
  width: 940px;
  margin: 0 auto;
}

/* Page Grip */

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header  */

.header {
  background-color: var(--basic-main-grey);
}

.header-top {
  background-color: var(--basic-darker-grey);
}

.header-top a {
  color: var(--basic-white);
  font-size: 18px;
}

/* .header-logo {
} */

.header-bookmark {
  background-color: var(--basic-darker-grey);
  border: none;
}

.header-bookmark:hover {
  background-color: var(--basic-darker-grey);
}

.header-bookmark:active {
  background-color: var(--basic-focus-black);
  color: var(--basic-hover-white);
}

.header-cart {
  background-color: var(--basic-darker-grey);
  border: none;
}

.header-cart:hover {
  background-color: var(--basic-darker-grey);
}

.header-cart:active {
  color: var(--basic-hover-white);
}

.header-order {
  background-color: var(--basic-green);
  border: none;
}

.header-order:hover {
  background-color: var( --hover-green);
}

.header-order:active {
  background-color: var(--clicked-green);
  color: var(--basic-hover-white);
}

/* 2nd Header */

.slogan {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
  margin: 0;
}

.header-phone {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  background-color: var(--basic-main-grey);
  border: 2px solid var(--basic-white);
  color: var(--basic-red); 
} 

.header-contacts p {
  color: var(--basic-dark-grey);
  margin: 0;
}

/* User Login and Regist */
/* .user-login-registr {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

.user-login a,
.user-registr a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white);
  /* align-items: center; */
  /* margin-right: 10px; */
}

.user-login a:hover,
.user-registr a:hover {
  color: var(--basic-red);
}

.user-login a:active,
.user-registr a:active {
  color: var(--basic-hover-grey);
}

/* Site Navigation */

.site-nav {
  background-color: var(--basic-dark-grey);
  box-shadow: inset 0px -5px 0px var(--basic-darker-grey);
}

.site-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav-list a {
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  color: var(--basic-white); 
} 

.site-nav-list a:hover {
  background-color: var(--basic-darker-grey);
}

.site-nav-list a:active {
  color: var(--basic-hover-white);
  background-color: var(--basic-darker-grey);
}

/* Main */

/* Materials */

h1 {
  visibility: hidden;
}

.materials {
  color: var(--basic-white);
  /* grid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  margin-bottom: 59px;
}

.materials h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.materials a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.material {
  background-color: var(--special-yellow);
}

.instrument {
  background-color: var(--special-blue);
}

.technique {
  background-color: var(--special-purple);
}

.discount {
  background-color: var(--special-green);
}

.delivery {
  background-color: var(--special-orange);
}

.button-materials {
  background-color: var(--special-white);
  color: var(--basic-white);
}

.button-materials:hover {
  background-color: var(--special-hover-grey);
}

.button-materials:active {
  background-color: var(--basic-dark-grey);
}

/* Slides */

.slider {
  grid-column: 1 / 3;
  grid-row: 2 / -1;
  height: 266px;
  position: relative;
}

.slides {
  position: relative;
}

.slider-item {
  position: absolute;
}

.slider-item.active {
  background: url("../img/slider-photo.jpg");
  position: static;
  opacity: 1;
  pointer-events: auto;
  height: 266px;
}

.slider-item.active {
  position: static;
  opacity: 1;
  pointer-events: auto;
}

.slider-controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.slider-control {
  display: block;
  margin: 10px 5px;
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

.slider-control-active {
  background-color: red;
}

/* Slider Before-After */

.slider-before-after {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1;
  bottom: 100px;
}
.slider-before {
  background-image: url("../img/icon-before.svg");
  padding: 25px 15px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.slider-after {
  background-image: url("../img/icon-after.svg");
  padding: 25px 15px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

/* Slider text */

.slider-item h3 {
  font-size: 36px;
  font-weight: 700;
  color: var(--basic-white);
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.slider-item p {
  font-size: 18px;
  color: var(--basic-white);
  margin: 0;
}

/* Popular Goods  */

.goods-title,
.goods-filter,
.goods-sorting {
  background-color: var(--basic-light-rose);
}

.goods-title h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-dark-grey);
  text-transform: uppercase;
  margin: 0;
}

/* Goods Cards */

.goods-list {
  font-family: "PT Sans", "Arial", "san-serif";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0 70px 0;
}

.goods-item {
  border: 1px solid var(--basic-lighter-grey);
}

.goods-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 178px;
}

.goods-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.goods-item h3 {
  margin: 0;
  text-align: center;
  padding: 0 15px 0 15px;
}

.goods-name {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin:0;
}

.goods-price1 {
  color: var(--basic-price-grey);
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-decoration-line: line-through;
  margin: 0;
  text-align: center;
}

.goods-price2 {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 2px;
  width: 141px;
  padding-top: 10px;
  padding-bottom: 10px; 
  margin:0 auto;
  text-align: center;
}

/* Buy-Bookmark */

.goods-buy,
.goods-bookmark {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.goods-buy {
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--box-shadow-green);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--basic-white);
  display: block;
  width: 135px;
  height: 38px;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
}

.goods-buy:hover {
  background-color: var(--hover-green);
}

.goods-buy:active {
  background-color: var(--active-green);
}

.goods-bookmark {
  background-color: var(--basic-white);
  color: var(--basic-dark-grey);
  border: 2px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
  display: block;
  width: 135px;
  height: 38px;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
}

.goods-bookmark:hover {
  border: 2px solid var(--basic-dark-grey);
}

.goods-bookmark:active {
  border: 2px solid var(--basic-dark-grey);
  color: var(--basic-dark-grey);
}

/* Popular Producers */

.producer-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  margin: 20px 0 70px 0;
}

.producer-logo a {
  border: 1px solid var(--basic-lighter-grey);
  box-sizing: border-box;
     /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 145px;
} 

.producer-logo a:hover {
  box-shadow: 0 0 10px 10px var(--basic-lighter-grey);
}

.producer-logo a:active {

} 

/* Services */

.services {
  background-color: var(--basic-main-grey);
  margin-bottom: 70px;    
}

.title,
.deliveries h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin:0;
}

.title-services {
  padding: 64px 0 25px 0;
}

.description {
  font-family: "PT Sans", "Arial", "san-serif";
  font-size: 13px;
  margin: 0;
}

.deliveries h2 {
  color: var(--basic-dark-grey);
}

/* Service Details  */

.service-details {
  display: grid;
  grid-template-columns: min-content 1fr; 
  column-gap: 80px;
  padding-top: 70px;
}

.service-list ul {
  margin: 0;
  padding: 0;
}

.service-items {
  list-style: none; 
}

.slider-toggler-item a {
  padding: 13.5px 139px 17.5px 22px;
  display: block;
}

.slider-toggler-item  {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  box-shadow: 0px 1px 0px var(--basic-white);
  background-color: var(--basic-dark-grey);
  color: var(--basic-white);
}

.slider-toggler:hover {
  background-color: var(--basic-darker-grey);
  color: var(--basic-white);
}

.active,
.slider-toggler:active {
  background-color: var(--basic-white);
  color: var(--basic-dark-grey);
}

/* Delivery-Credit-Warranty  slides*/

.deliveries {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.deliveries-active {
  position: static;
  opacity: 1;
  pointer-events: auto;
}

/* About Company  */

.company {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 180px;
  padding: 0;
}

.title-company {
  margin-bottom: 24px;
}

.description-company {
  padding: 0 100px 32px 0;
}

.company-about ul {
  margin: 0;
  padding: 0;
}

.company-list {
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.button-about {
  /* width: 220px; */
}

.button-contact {
  /* width: 300px; */
}

/* Footer */

.main-footer {
  background-color: var(--basic-dark-grey);
}

.footer-logo {
  
}

.footer-nav ul {
  padding: 0px;
  margin:0;
  list-style: none;
}

.footer-contacts p, a,
.list-nav1 a {
  color: var(--basic-main-grey);
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.list-nav2 a {
  color: var(--basic-yellow);
  font-size: 18px;
  line-height: 24px;
}

.list a:hover {
  text-decoration: underline;
}

.list-nav1 a:active {
  color: var(--basic-active-grey);
  text-decoration: none;
}

.list-nav2 a:active {
  color: var(--basic-active-yellow);
  text-decoration: none;
}

/* Second Footer */

.footer-second {
  background-color: var(--basic-darker-grey);
}

.footer-copyright p,
.footer-email p, a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  padding: 0;
  margin: 0;
}

.icon {
  /* background: linear-gradient(0deg, #212A3A, #212A3A); */
}

.icon-vk,
.icon-fb,
.icon-in {
  /* background-color: var(--basic-darker-grey); */
}

.icon:hover,
.icon:active {
  color: var(--basic-white);
  background-color: var(--basic-focus-red);
}

.footer-link {
  color: var(--basic-yellow);
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* Catalog  */

/* User  */

.header-user {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white);
  width: 299px;
  height: 45px;
  text-align: center;
}

.user-profile {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-profile:hover {
  color: var(--basic-red);
}

.user-profile:active {
  /* color: var(--basic-hover-grey); */
  color: var(--special-hover-grey);
}

.user-order-cabinet-list {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  padding:0;
  margin: 0;
}

/* .user-profile-logo,
.user-exit {
  
}

.user-profile-logo:hover,
.user-exit {
  
}

.user-profile-logo:active,
.user-exit:active {
  
} */

.order-cabinet {
  color: var(--basic-dark-grey);
}

.order-cabinet:hover {
  color: var(--basic-red);
}

.order-cabinet:active {
  color: var(--special-hover-grey);
}

/* Bread crumbs */

/* .title-name h2 {
  padding: 29px 0 30px 29px;
} */

.breadcrumbs-list,
.sorting-list,
.sorting-button {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-list a,
.goods-filter p,
.goods-sorting p {
  font-family: "PT Sans", "Arial", "san-serif";
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
} 

/* kak pravilno budet */

.sorting-list a {
  font-family: "PT Sans", "Arial", "san-serif";
  color: var(--special-black);
  font-size: 13px;
  line-height: 18px;
  border-bottom: dotted 1px var(--basic-red);
  padding-bottom: 2px;
  text-transform: uppercase;
}

.sorting-list a:hover {
  color: var(--basic-black);
  border-bottom: solid 1px var(--basic-red);
  padding-bottom: 2px;
}

.sorting-list a:active {
  color: var(--basic-red);
  border: none;
}

.sorting-list-current a {
  color: var(--basic-red);
  border: none;
}

.title-name h2 {
  background-color: var(--basic-light-blue);
}

/* Pagination  */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-button-grey);
  border-radius: 2px;
  box-sizing: border-box;
}

.pagination-item a:hover {
  border: 1px solid var(--basic-hover-grey);
  background-color: var(--basic-white);
}

.pagination-item a:active {
  border: 1px solid var(--basic-red);
}

.pagination-item-current a {
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}