/* Variables */

:root {
  --basic-darker-grey: #293449;
  --basic-dark-grey: #32425C;
  --basic-white: #FFFFFF;
  --basic-hover-white: rgba(255, 255, 255, 0.5);
  --basic-red: #EE3643;
  --basic-hover-red:#CA2C37;
  --basic-focus-red: #BA2732;
  --basic-black: #000000;
  --basic-shadow-black: rgba(0, 0, 0, 0.24);
  --basic-green: #63A63E;
  --hover-green: #5FBB2D;
  --active-green: #518534;
  --clicked-green: #63A63E;
  --basic-hover-grey: #C5C5C5;
  --basic-lighter-grey: #EAEAEA;
  --basic-button-grey: #E5E5E5;
  --basic-light-rose: #F7F3EC;
  --basic-focus-black: #161D29;
  --basic-light-blue: #F2F6F8;
  --basic-grey: #C1C6CE;
  --basic-grey-grey: #B7BFC8;
  --basic-price-grey: #A9A9A9;
  --basic-main-grey: #F1F5F7;
  --basic-active-grey: rgba(241,245,247,.5);
  --basic-yellow: #FFD180;
  --basic-active-yellow: rgba(255,209,128,.5);
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-purple: #DC91D8;
  --special-green:  #8ED78F;
  --special-orange: #FFC047;
  --special-white: rgba(255,255,255,.3);
  --special-hover-grey: rgba(197,197,197,.3);
  --special-active-grey: rgba(169,169,169,.3);
  --box-shadow-green: #367315;
  --special-black: rgba(0,0,0,.3);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;;
}

a {
  text-decoration: none;
}

.button {
  text-transform: uppercase;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.button:hover {
  background-color: var(--basic-hover-red);
}

.button:active {
  background-color: var(--basic-focus-red);
}

/* Header  */

.header {
  background-color: var(--basic-main-grey);
}

.header-top {
  background-color: var(--basic-darker-grey);
}

.header-top a {
  color: var(--basic-white);
  font-size: 18px;
}

.header-logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--basic-shadow-black);
}

.header-logo:active {
  background-color: var(--basic-focus-red);
  box-shadow: inset 0px -5px 0px var(--basic-shadow-black);
}

.header-bookmark {
  vertical-align: middle;
  text-align: center;
  background-color: var(--basic-darker-grey);
  border: none;
}

.header-bookmark:hover {
  background-color: var(--basic-darker-grey);
}

.header-bookmark:active {
  background-color: var(--basic-focus-black);
  color: var(--basic-hover-white);
}

.header-cart {
  vertical-align: middle;
  text-align: center;
  background-color: var(--basic-darker-grey);
  border: none;
}

.header-cart:hover {
  background-color: var(--basic-darker-grey);
}

.header-cart:active {
  color: var(--basic-hover-white);
}

.header-order {
  vertical-align: middle;
  text-align: center;
  background-color: var(--basic-green);
  border: none;
}

.header-order:hover {
  background-color: var( --hover-green);
}

.header-order:active {
  background-color: var(--clicked-green);
  color: var(--basic-hover-white);
}

.slogan {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.header-phone {
  vertical-align: middle;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  background-color: var(--basic-main-grey);
  border: 2px solid var(--basic-white);
  color: var(--basic-red); 
} 

.header-contacts p {
  color: var(--basic-dark-grey);
}

.user-login,
.user-registr {
  vertical-align: middle;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
}

.user-login:hover,
.user-registr:hover {
  color: var(--basic-red);
}

.user-login:active,
.user-registr:active {
  color: var(--basic-hover-grey);
}

/* Site Navigation */

.site-nav {
  background-color: var(--basic-dark-grey);
  box-shadow: inset 0px -5px 0px var(--basic-darker-grey);
}

.site-nav-list {
  list-style: none;
}

.site-nav-list a {
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  color: var(--basic-white); 
} 

.site-nav-list a:hover {
  background-color: var(--basic-darker-grey);
}

.site-nav-list a:active {
  color: var(--basic-hover-white);
  background-color: var(--basic-darker-grey);
}

/* Main */

/* Materials */

/* .materials,
.goods,
.producer,
.company {
  width: 940px;
} */

h1 {
  visibility: hidden;
}

.materials {
  color: var(--basic-white);
}

.materials h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.materials a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

/* .material,
.instrument,
.technique,
.discount,
.delivery {
  vertical-align: middle;
} */

.material {
  background-color: var(--special-yellow);
}

.instrument {
  background-color: var(--special-blue);
}

.technique {
  background-color: var(--special-purple);
}

.discount {
  background-color: var(--special-green);
}

.delivery {
  background-color: var(--special-orange);
}

.button-materials {
  background-color: var(--special-white);
  color: var(--basic-white);
}

.button-materials:hover {
  background-color: var(--special-hover-grey);
}

.button-materials:active {
  background-color: var(--basic-dark-grey);
}

/* Slides */

.slider-items {
  background-color: grey;
}

.slider-items h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-items p {
  font-size: 18px;
}

/* Popular Goods  */

.goods-title,
.goods-filter,
.goods-sorting {
  background-color: var(--basic-light-rose);
}

.goods-title h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-dark-grey);
  text-transform: uppercase;
}

.goods-list {
  font-family: "PT Sans", "Arial", "san-serif";
}

.goods-item {
  border: 1px solid var(--basic-lighter-grey);
}

.goods-link {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.goods-price1 {
  color: var(--basic-price-grey);
  font-size: 17px;
  line-height: 18px;
  font-weight: 700px;
}

.goods-price2 {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.goods-buy,
.goods-bookmark {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.goods-buy {
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--box-shadow-green);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--basic-white);
}

.goods-buy:hover {
  background-color: var(--hover-green);
}

.goods-buy:active {
  background-color: var(--active-green);
}

.goods-bookmark {
  background-color: var(--basic-white);
  color: var(--basic-dark-grey);
  border: 2px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
}

.goods-bookmark:hover {
  border: 2px solid var(--basic-dark-grey);
}

.goods-bookmark:active {
  border: 2px solid var(--basic-dark-grey);
  color: var(--basic-dark-grey);
}

/* Producer Logo */

/* .producer-logo a {
  border: 1px solid var(--basic-lighter-grey);
  box-sizing: border-box;
}

.producer-logo a:hover {
  box-shadow: 0 0 10px 10px var(--basic-lighter-grey);
}

.producer-logo a:active {

} */

/* Services */

.services {
  background-color: var(--basic-main-grey);   
}

.service-items {
  list-style: none;
}

.title,
.deliveries h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.description {
  font-family: "PT Sans", "Arial", "san-serif";
  font-size: 13px;
}

.deliveries h2 {
  color: var(--basic-dark-grey);
}

.slider-toggler {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  box-shadow: 0px 1px 0px var(--basic-white);
  background-color: var(--basic-dark-grey);
  color: var(--basic-white);
}

.slider-toggler:hover {
  background-color: var(--basic-darker-grey);
  color: var(--basic-white);
}

.items-credit:active {
  background-color: var(--basic-white);
  color: var(--basic-dark-grey);
}

/* About Company  */

.company-list {
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.button-about {
  /* width: 220px; */
}

.button-contact {
  /* width: 300px; */
}

/* Footer */

.main-footer {
  background-color: var(--basic-dark-grey);
}

.footer-logo {
  background-color: var(--basic-focus-red);
  box-shadow: inset 0px -5px 0px var(--basic-shadow-black); 
}

.footer-contacts p, a,
.list-nav1 {
  color: var(--basic-main-grey);
}

/* .footer-address,
.footer-phone,
.list-nav1 a {
  color: var(--basic-white);
} */

.list-nav2 a {
  color: var(--basic-yellow);
}

.footer-address,
.footer-phone,
.list a {
  font-size: 18px;
  line-height: 24px;
}

.list {
  list-style: none;
}

.list a:hover {
  text-decoration: underline;
}

.list-nav1 a:active {
  color: var(--basic-active-grey);
  text-decoration: none;
}

.list-nav2 a:active {
  color: var(--basic-active-yellow);
  text-decoration: none;
}

.footer-second {
  background-color: var(--basic-darker-grey);
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
}

.footer-copyright p,
.footer-email p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.icon-vk,
.icon-fb,
.icon-in {
  color: var(--basic-white);
  background-color: var(--basic-darker-grey);
}

.icon:hover,
.icon:active {
  color: var(--basic-white);
  background-color: var(--basic-focus-red);
}

.footer-link {
  color: var(--basic-yellow);
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* Catalog  */

/* User  */

.user-profile {
  vertical-align: middle;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
}

.user-profile:hover {
  color: var(--basic-red);
}

.user-profile:active {
  /* color: var(--basic-hover-grey); */
  color: var(--special-hover-grey);
}

.user-order-cabinet {
  list-style: none;
}

/* .user-profile-logo,
.user-exit {
  
}

.user-profile-logo:hover,
.user-exit {
  
}

.user-profile-logo:active,
.user-exit:active {
  
} */

.order-cabinet {
  color: var(--basic-dark-grey);
}

.order-cabinet:hover {
  color: var(--basic-red);
}

.order-cabinet:active {
  color: var(--special-hover-grey);
}

/* Bread crumbs */

.breadcrumbs-list,
.sorting-list,
.sorting-button {
  list-style: none;
}

.breadcrumbs-list a,
.goods-filter p,
.goods-sorting p {
  font-family: "PT Sans", "Arial", "san-serif";
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
} 

.sorting-list a {
  font-family: "PT Sans", "Arial", "san-serif";
  color: var(--special-black);
  font-size: 13px;
  line-height: 18px;
  border-bottom: dotted 1px var(--basic-red);
  padding-bottom: 2px;
  text-transform: uppercase;
}

.sorting-list a:hover {
  color: var(--basic-black);
  border-bottom: solid 1px var(--basic-red);
  padding-bottom: 2px;
}

.sorting-list a:active {
  color: var(--basic-red);
  border: none;
}

.sorting-list-current a {
  color: var(--basic-red);
  border: none;
}

.title-name h2 {
  background-color: var(--basic-light-blue);
}

/* Pagination  */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-button-grey);
  border-radius: 2px;
  box-sizing: border-box;
}

.pagination-item a:hover {
  border: 1px solid var(--basic-hover-grey);
  background-color: var(--basic-white);
}

.pagination-item a:active {
  border: 1px solid var(--basic-red);
}

.pagination-item-current a {
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}